{{set page = page || 1}}
{{set size = size || 10}}
{
  "code": 200,
  "data": {
    "pagination": {
      "page": {{page}},
      "size": {{size}},
      "total": 500,
      "totalPage": {{500 / size}}
    },
    "result": [
      {{each helpers.range(0, size)}}
        {
          "id": {{page * size - size + $index}},
          "number": {{helpers.randomNumber(0, 10)}}
        }{{if $index < size }},{{/if}}
      {{/each}}
    ]
  }
}
